body {
    font-family: Arial, sans-serif;
    background-color: #202020;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* AFFICHAGE COULEUR NAV */

.navbar-color {
    position: relative;
    margin-bottom: 90px;
}

.rectangles {
    position: relative;
    z-index: -1;
    /* overflow: hidden; */
}

.red-rectangle,
.blue-rectangle {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 1;
}

.red-rectangle {
    background-color: var(--blue);
    height: 50px;
    top: -50px; /* Position au-dessus du .rectangles */
}

.blue-rectangle {
    background-color: var(--red);
    height: 20px;
    top: -20px; /* Position au-dessus du .rectangles */
}

.rectangles.show .red-rectangle {
    top: 0; /* Descendre jusqu'à la position initiale */
    transition: top 0.8s ease-out;
}

.rectangles.show .blue-rectangle {
    top: 0; /* Descendre jusqu'à la position initiale */
    transition: top 0.7s ease-out;
}

/* BARRE DE NAVIGATION */

.navbar {
    z-index: 2;
    background-color: var(--black);
    padding: 35px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.navbar-brand:hover {
    color: var(--gray);
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--gray);
    border-radius: 3px;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

.nav-link {
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--gray);
}

.navbar-nav-right {
    display: flex;
    align-items: center;
}

.navbar-nav-right .nav-link {
    margin-right: 15px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--black);
        flex-direction: column;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-link {
        margin: 10px 0;
    }

    .navbar-collapse.show {
        display: flex;
    }
}

/* BOUTON INSCRIPTION HAUT DE PAGE */

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inscription-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: x-large;
    text-decoration: none;
    color: var(--red);
    background-color: transparent;
    border: 2px solid var(--red);
    border-radius: 40px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.inscription-btn:hover {
    background-color: var(--red);
    color: #202020;
    border-color: transparent;
}

/* COULEURS ROOT */

:root {
    --red: #a50515;
    --blue: #017c7c;
    --black: #000000;
    --gray: #dadada;
}