.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 0 2rem;
}
@media only screen and (max-width: 1000px) {
  .index {
    padding: 0;
  }
}

/* COMPTE A REBOUR */

.index .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100vh;
}

.index p {
  font-size: medium;
}

.index .hero-section .hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.index .hero-section .hero-header .header-content {
  display: flex;
  align-items: center;
}

.index .hero-section .hero-header h1 {
  margin: 0;
}

.index .hero-section .hero-header p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: larger;
}

.index .hero-section .hero-header .img-titre {
  height: 100px;
  width: 100px;
}

.index .hero-section .hero-header .img-left {
  margin-right: 25px;
}

.index .hero-section .hero-header .img-right {
  margin-left: 25px;
}

.index .hero-section ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.index .hero-section li {
  background-color: var(--tertiary-color);
  border-radius: 0.9375rem;
  width: 13rem;
  height: 10rem;
  text-align: center;
  margin-inline: 2rem;
}

.index .hero-section li > div:nth-child(1) {
  color: var(--primary-color);
  margin-top: 20px;
  font-family: var(--h-1-font-family);
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.index .hero-section li > div:nth-child(2) {
  color: var(--white-color);
  text-align: center;
  height: 2.25rem;
  flex-shrink: 0;
  font-family: var(--h-2-font-family);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 1000px) {
  .index .hero-section {
    height: auto;
    padding: 2rem 0;
    gap: 2rem;
    width: 95%;
  }
  .index .hero-section .hero-header {
    gap: 0.5rem;
  }

  .index .hero-section h1 {
    text-align: center;
  }

  .index .hero-section ul {
    gap: 0.1rem;
  }

  .index .hero-section li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 7rem;
    height: 5rem;
  }
  .index .hero-section li > div:nth-child(1) {
    font-size: 1.8rem;
    margin-top: 10px;
  }
  .index .hero-section li > div:nth-child(2) {
    font-size: 1rem;
  }
  .index .hero-section a {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .index .hero-section button {
    width: 80%;
  }
}

/* NUAGE DE MOTS */

@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.cloud {
  display: flex;
  width: 100%;
  height: 350px;
  margin-top: 150px;
  margin-bottom: 200px;
  text-align: center;
  position: relative;
}

.word p {
  position: absolute;
  font-size: 20px;
  font-family: var(--font-family-poppins);
}

.word p:nth-child(1) { 
  top: 50px; 
  left: 5%; 
  animation: pulseOpacity 6s infinite;
}
.word p:nth-child(2) { 
  top: 270px; 
  left: 88%; 
  font-size: 27px; 
  animation: pulseOpacity 6.5s infinite;
}
.word p:nth-child(3) { 
  top: 200px; 
  left: 10%; 
  font-size: 29px; 
  animation: pulseOpacity 7s infinite;
}
.word p:nth-child(4) { 
  top: 80px; 
  left: 85%; 
  font-size: 31px; 
  animation: pulseOpacity 7.5s infinite;
}
.word p:nth-child(5) { 
  top: 50px; 
  left: 32%; 
  font-size: 33px; 
  animation: pulseOpacity 8s infinite;
}
.word p:nth-child(6) { 
  top: 240px; 
  left: 65%; 
  font-size: 35px; 
  animation: pulseOpacity 8.5s infinite;
}
.word p:nth-child(7) { 
  top: 60px; 
  left: 62%; 
  font-size: 30px; 
  animation: pulseOpacity 9s infinite;
}
.word p:nth-child(8) { 
  top: 180px; 
  left: 75%; 
  font-size: 31px; 
  animation: pulseOpacity 9.25s infinite;
}
.word p:nth-child(9) { 
  top: 300px; 
  left: 40%; 
  font-size: 29px; 
  animation: pulseOpacity 6.75s infinite;
}
.word p:nth-child(10) { 
  top: 220px; 
  left: 27%; 
  font-size: 27px; 
  animation: pulseOpacity 6.25s infinite;
}
.word p:nth-child(11) { 
  top: 120px; 
  left: 20%; 
  font-size: 25px; 
  animation: pulseOpacity 7.75s infinite;
}
.word p:nth-child(12) { 
  top: 270px; 
  left: 15%; 
  font-size: 29px; 
  animation: pulseOpacity 7.25s infinite;
}
.word p:nth-child(13) { 
  top: 150px; 
  left: 45%; 
  font-size: 33px;  
  animation: pulseOpacity 8.75s infinite;
}

@media only screen and (max-width: 1000px) {
  .word p:nth-child(2) { 
    font-size: 22px; 
    top: 240px; 
    left: 50%; 
  }
  .word p:nth-child(3) { 
    font-size: 24px;
    left: 10%;
  }
  .word p:nth-child(4) { 
    font-size: 26px; 
    top: 100px; 
    left: 55%; 
  }
  .word p:nth-child(5) { 
    font-size: 28px; 
  }
  .word p:nth-child(6) { 
    font-size: 30px; 
    left: 75%;
  }
  .word p:nth-child(7) { 
    font-size: 28px; 
    left: 70%;
  }
  .word p:nth-child(8) { 
    font-size: 26px; 
    top: 200px; 
    left: 60%;
  }
  .word p:nth-child(9) { 
    font-size: 24px; 
  }
  .word p:nth-child(10) { 
    font-size: 22px; 
  }
  .word p:nth-child(11) { 
    font-size: 20px; 
  }
  .word p:nth-child(12) { 
    font-size: 24px; 
  }
  .word p:nth-child(13) { 
    font-size: 28px; 
    top: 150px; 
    left: 40%; 
  }
}

/* TEXTE ET BLOCK INFO */

.index .information {
  display: flex;
  margin-top: 150px;
  flex-direction: row-reverse;
  align-items: center;
  height: auto;
  padding: 2rem 4rem;
  gap: 4rem;
  width: 95%;
}

.index .information .information-content {
  width: 47.5%;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
}

.index .block-rectangle-2 {
  width: 50%;
  height: 100%;
  max-width: 1000px;
  border-radius: 15px;
  z-index: 0;
}

@media only screen and (max-width: 1000px) {
  .index .information {
    padding: 0 2rem;
    flex-direction: column-reverse;
    width: 100%;
    gap: 2rem;
  }
  .index .information .information-content {
    width: 95%;
  }
  .index .block-rectangle-2 {
    width: 95%;
  }
}

/* PARTENAIRES LISTE */

.partenaires {
  background-color: var(--tertiary-color);
  bottom: 0;
  margin-bottom: 150px;
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partenaires-logos {
  display: flex;
  gap: 4rem;
  margin-top: 30px;
}

.partenaire-logo {
  height: 3rem;
}

h2 {
  text-align: center;
}

.partenaire-logo:hover {
  transform: scale(1.1);
}

/* FORM INSCRIPTION */

.index .registration-section {
  display: flex;
  margin-bottom: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  width: 50%;
}

.index .registration-section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index .registration-section form {
  display: flex;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  padding: 2.5rem 4rem;
  flex-direction: column;
  gap: 2rem;
  width: 95%;
}

.index .registration-section form h3 {
  display: flex;
  gap: 1rem;
}

.index .registration-section form i {
  color: var(--primary-color);
}

.index .registration-section form .registration-form-part {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.index .registration-section form .registration-form-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.index .registration-section form div {
  margin-bottom: 0.5rem;
  width: 100%;
}

.index .registration-section form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.index .registration-section form input {
  background-color: var(--white-color);
  border: none;
  color: var(--tertiary-color);
  font-size: 0.875rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.625rem;
  box-sizing: border-box;
}

.index .registration-section form input:hover {
  background-color: #cdcdcd;
}

.btn-inscription-2 {
  font-size: 16px;
  width: 100%;
  height: 50px;
}

.index .registration-section form input:focus {
  outline: 2px solid #fcb900;
  transition: none;
  outline-offset: 2px;
  border-color: var(--primary-background);
  box-shadow: 0 0 0 2px var(--primary-background);
}

.label-custom {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: var(--white-color);
}

.label-custom:hover input ~ .checkmark {
  background-color: var(--white-color);
}

.label-custom input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-custom input:checked ~ .checkmark:after {
  display: block;
}

.label-custom .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--primary-background);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.label-icone {
  margin-top: -30px;
}

.label-icone i {
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 1086px) {
  .index .registration-section {
    width: 75%;
  }
}

@media only screen and (max-width: 1000px) {
  .index .registration-section {
    width: 100%;
    padding: 2rem 0;
  }

  .index .registration-section form {
    border-radius: 0;
    padding: 1.5rem;
    width: 100%;
  }
}

/* CONTACT */
.index .contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 100px;
  padding: 4rem;
  gap: 4rem;
  width: 95%;
}

#map {
  height: 40vh;
  width: 60%;
  border-radius: 15px;
}

.index .contact-content {
  display: flex;
  height: 100%;
  gap: 1rem;
  width: 40%;
  background-color: var(--tertiary-color);
  padding: 2rem 4rem;
  border-radius: 15px;
  flex-direction: column;
}

.index .contact-content ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.index .contact-content li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.index .contact-content i {
  color: var(--primary-color);
  font-size: medium;
}

.frame-3 a {
  color: white;
  text-decoration: none;
  text-decoration: underline;
}

.frame-3 a:hover {
  color: #d8d8d8;
}

.frame-4 a {
  color: white;
  text-decoration: none;
  text-decoration: underline;
}

.frame-4 a:hover {
  color: #d8d8d8;
}

li a {
  color: white;
  text-decoration: none;
  text-decoration: underline;
}

li a:hover {
  color: #d8d8d8;
}

@media only screen and (max-width: 1000px) {
  .index .contact-section {
    flex-direction: column-reverse;
    width: 100%;
    gap: 2rem;
    padding: 0;
    height: 100%;
  }

  .index .contact-content {
    width: 100%;
    border-radius: 0;
    padding: 2rem 2rem;
    gap: 1.5rem;
  }

  #map {
    width: 80%;
  }
<<<<<<< Updated upstream
  .contact-content li{
=======

  .contact-content li {
>>>>>>> Stashed changes
    justify-content: center;
  }
}


/* PAGE DE CONFIRMATION */

.index .confirm-rectangle {
  font-family: var(--h-1-font-family);
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  text-align: center;
  color: #ffffff;
}

.index .confirm-titre {
  color: #fcb900;
}

/* FOOTER */

.footer {
  background-color: var(--tertiary-color);
  bottom: 0;
  margin-top: 50px;
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-img > div {
  margin-top: 20px;
  margin-bottom: 20px; 
}

.footer-logo {
  margin: 15px;
  height: 3.5rem;
}

.footer p {
  margin-bottom: 15px;
  color: #fcb900;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.credits{
  max-height: 1px;
}

.credits p{
  color:#fcb90063;
}