body {
  background-color: #252527;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

body .div {
  background-color: var(--primary-background);
  width: 100%;
  height: 26rem;
  position: relative;
}

/* BARRE DE NAVIGATION */

body .overlap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 3.5rem;
  top: 1.6rem;
  left: 6.25rem;
  right: 6.25rem;
  background-color: #ffffff1a;
  border-radius: 0.9375rem;
}

body .nav {
  position: absolute;
  width: 80%;
  height: 2rem;
  top: 1rem;
  left: 6.25rem;
}

body .text-nav-input {
  color: #fff;
  font-family: var(--h-1-font-family);
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

body .text-nav-input:hover {
  color: #fcb900;
}

body .text-nav-input.button {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 8px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body .text-nav-input.button:hover {
  background-color: #a12626;
  color: #fff;
}

/* COMPTE A REBOUR */
  /* TEXTE */

body .text-wrapper,
body .p {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--h-1-font-family);
  font-weight: var(--h-1-font-weight);
  color: #ffffff;
  text-align: center;
}

body .text-wrapper {
  top: 170px;
  font-size: var(--h-1-font-size);
  letter-spacing: var(--h-1-letter-spacing);
  line-height: var(--h-1-line-height);
  font-style: var(--h-1-font-style);
}

body .p {
  top: 299px;
  font-size: 2vw;
  letter-spacing: var(--h-3-letter-spacing);
  line-height: 1.5;
  font-style: var(--h-3-font-style);
}

@media (max-width: 767px) {
  body .text-wrapper,
  body .p {
    width: 90%
  }

  body .text-wrapper {
    top: 150px;
    font-size: 48px;
  }

  body .p {
    top: 250px;
    font-size: 14px;
  }
}

  /* BLOCKS */

body .container {
  position: relative;
}

body .flex-container {
  display: flex;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
}

body .timer-block {
  background-color: #ffffff1a;
  border-radius: 0.9375rem;
  width: 13rem;
  height: 10rem;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

body .text-block-2 {
  color: #FCB900;
  margin-top: 20px;
  font-family: var(--h-1-font-family);
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

body .text-block-3 {
  color: #FFF;
  text-align: center;
  height: 2.25rem;
  flex-shrink: 0;
  font-family: var(--h-2-font-family);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 767px) {
  body .flex-container {
    top: 300px;
  }
  body .timer-block {
    width: 9rem;
    height: 8rem;
  }
  body .text-block-2 {
    font-size: 3rem;
  }
  body .text-block-3 {
    font-size: 1.5rem;
  }
}

/* TEXTE ET BLOCK LNDA */

body .block-1 {
  display: flex;
  position: absolute;
  top: 700px;
  margin-left: 2.5%;
  margin-right: 2.5%
}

body .block-texte-titre {
  width: 47.5%;
  margin-left: 50%;
}

body .block-titre {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #fcb900;
  font-size: 34px;
}

body .block-texte {
  margin-top: 60px;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: #ffffff;
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

body .block-rectangle {
  position: absolute;
  width: 47.5%;
  height: 381px;
  background-color: #ffffff1a;
  border-radius: 15px;
}

@media (max-width: 1000px) {
  body .block-rectangle {
    width: 95%;
  }
  body .block-texte-titre {
    width: 95%;
    margin-left: 0%;
    margin-top: 425px;
  }
}

/* TEXTE ET BLOCK INFO */

body .text-wrapper-5 {
  position: absolute;
  width: 189px;
  height: 35px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

body .overlap-wrapper {
  position: absolute;
  width: 191px;
  height: 35px;
  top: 1663px;
  left: 0;
}

body .group-2 {
  position: absolute;
  width: 1239px;
  height: 381px;
  top: 1500px;
  left: 0;
}

body .rectangle-4 {
  position: absolute;
  width: 514px;
  height: 381px;
  top: 0;
  left: 725px;
  background-color: #ffffff1a;
  border-radius: 15px;
}

body .group-3 {
  position: absolute;
  width: 613px;
  height: 298px;
  top: 42px;
  left: 0;
}

body .lorem-ipsum-dolor-2 {
  position: absolute;
  width: 609px;
  top: 57px;
  left: 0;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: #ffffff;
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

body .text-wrapper-6 {
  position: absolute;
  width: 525px;
  top: 0;
  left: 1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #fcb900;
  font-size: 34px;
  letter-spacing: 0;
  line-height: normal;
}

body .text-wrapper-7 {
  position: absolute;
  width: 1239px;
  top: 1087px;
  left: 1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #fcb900;
  font-size: 34px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

body .group-4 {
  position: absolute;
  width: 402px;
  height: 76px;
  top: 1276px;
  left: 211px;
}

body .text-wrapper-8 {
  position: absolute;
  width: 397px;
  height: 22px;
  top: 0;
  left: 1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

body .overlap-group-4 {
  position: absolute;
  width: 398px;
  height: 50px;
  top: 26px;
  left: 0;
  background-color: #ffffff;
  border-radius: 15px;
}

body .text-wrapper-9 {
  width: 368px;
  position: absolute;
  height: 36px;
  top: 7px;
  left: 15px;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: #000000;
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

body .group-5 {
  position: absolute;
  width: 402px;
  height: 76px;
  top: 1366px;
  left: 210px;
}

body .group-6 {
  position: absolute;
  width: 402px;
  height: 76px;
  top: 1366px;
  left: 632px;
}

body .group-7 {
  position: absolute;
  width: 404px;
  height: 76px;
  top: 1276px;
  left: 630px;
}

body .text-wrapper-10 {
  position: absolute;
  width: 399px;
  height: 22px;
  top: 0;
  left: 1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

body .overlap-3 {
  position: absolute;
  width: 400px;
  height: 50px;
  top: 26px;
  left: 0;
  background-color: #ffffff;
  border-radius: 15px;
}

body .text-wrapper-11 {
  width: 370px;
  position: absolute;
  height: 36px;
  top: 7px;
  left: 15px;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: #000000;
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

body .group-8 {
  position: absolute;
  width: 819px;
  height: 76px;
  top: 1568px;
  left: 212px;
}

body .group-wrapper {
  position: absolute;
  width: 398px;
  height: 76px;
  top: 0;
  left: 0;
}

body .group-9 {
  position: relative;
  width: 402px;
  height: 76px;
}

body .group-10 {
  position: absolute;
  width: 404px;
  height: 76px;
  top: 0;
  left: 419px;
}

body .text-wrapper-12 {
  position: absolute;
  width: 388px;
  height: 50px;
  top: 1204px;
  left: 273px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

body .text-wrapper-13 {
  position: absolute;
  width: 388px;
  height: 50px;
  top: 1496px;
  left: 273px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

body .icon-user {
  position: absolute;
  width: 44px;
  height: 50px;
  top: 1205px;
  left: 210px;
}

body .img {
  position: absolute;
  width: 44px;
  height: 50px;
  top: 1497px;
  left: 210px;
}

body .rectangle-5 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 1670px;
  left: 210px;
  border: 1px solid;
  border-color: #000000;
}

body .text-wrapper-14 {
  position: absolute;
  width: 441px;
  height: 22px;
  top: 1669px;
  left: 237px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

body .overlap-4 {
  position: absolute;
  width: 562px;
  height: 457px;
  top: 2888px;
  left: 942px;
}

body .rectangle-6 {
  position: absolute;
  width: 397px;
  height: 457px;
  top: 0;
  left: 0;
  background-color: #ffffff1a;
  border-radius: 15px;
}

body .group-11 {
  position: absolute;
  width: 529px;
  height: 155px;
  top: 151px;
  left: 33px;
}

body .text-wrapper-15 {
  width: 525px;
  left: 2px;
  font-family: "Poppins-Bold", Helvetica;
  color: var(--primaryy);
  font-size: 34px;
  position: absolute;
  top: 0;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

body .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  top: 71px;
  left: 0;
}

body .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

body .icon-alternate-phone {
  position: relative;
  width: 16px;
  height: 16px;
}

body .text-wrapper-16 {
  position: relative;
  width: 119px;
  height: 18px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

body .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

body .icon-envelope {
  position: relative;
  width: 21px;
  height: 16px;
}

body .text-wrapper-17 {
  position: relative;
  width: 160px;
  height: 18px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

body .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 35px;
  position: relative;
  flex: 0 0 auto;
}

body .icon-alternate-map {
  position: relative;
  width: 12px;
  height: 16px;
}

body .overlap-5 {
  position: absolute;
  width: 236px;
  height: 179px;
  top: 387px;
  left: 604px;
}

body .overlap-6 {
  position: absolute;
  width: 236px;
  height: 179px;
  top: 387px;
  left: 856px;
}

body .bfet {
  position: absolute;
  width: 819px;
  height: 458px;
  top: 2887px;
  left: 101px;
  object-fit: cover;
}  




