body {
  background-color: #252527;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

body .div {
  background-color: var(--primary-background);
  width: 100%;
  height: 26rem;
  position: relative;
}

/* BARRE DE NAVIGATION */

body .overlap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 3.5rem;
  top: 1.6rem;
  left: 6.25rem;
  right: 6.25rem;
  background-color: #ffffff1a;
  border-radius: 0.9375rem;
}

body .nav {
  position: absolute;
  width: 80%;
  height: 2rem;
  top: 1rem;
  left: 6.25rem;
}

body .text-nav-input {
  color: #fff;
  font-family: var(--h-1-font-family);
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

body .text-nav-input:hover {
  color: #fcb900;
}

body .text-nav-input.button {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 8px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body .text-nav-input.button:hover {
  background-color: #a12626;
  color: #fff;
}

/* COMPTE A REBOUR */
  /* TEXTE */

body .text-wrapper,
body .p {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--h-1-font-family);
  font-weight: var(--h-1-font-weight);
  color: #ffffff;
  text-align: center;
}

body .text-wrapper {
  top: 170px;
  font-size: var(--h-1-font-size);
  letter-spacing: var(--h-1-letter-spacing);
  line-height: var(--h-1-line-height);
  font-style: var(--h-1-font-style);
}

body .p {
  top: 299px;
  font-size: 2vw;
  letter-spacing: var(--h-3-letter-spacing);
  line-height: 1.5;
  font-style: var(--h-3-font-style);
}

@media (max-width: 1000px) {
  body .text-wrapper,
  body .p {
    width: 90%
  }

  body .text-wrapper {
    top: 150px;
    font-size: 48px;
  }

  body .p {
    top: 250px;
    font-size: 14px;
  }
}

  /* BLOCKS */

body .container {
  position: relative;
}

body .flex-container {
  display: flex;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
}

body .timer-block {
  background-color: #ffffff1a;
  border-radius: 0.9375rem;
  width: 13rem;
  height: 10rem;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

body .text-block-2 {
  color: #FCB900;
  margin-top: 20px;
  font-family: var(--h-1-font-family);
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

body .text-block-3 {
  color: #FFF;
  text-align: center;
  height: 2.25rem;
  flex-shrink: 0;
  font-family: var(--h-2-font-family);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1000px) {
  body .flex-container {
    top: 300px;
  }
  body .timer-block {
    width: 9rem;
    height: 8rem;
  }
  body .text-block-2 {
    font-size: 3rem;
  }
  body .text-block-3 {
    font-size: 1.5rem;
  }
}

/* TEXTE ET BLOCK LNDA */

body .block-1 {
  display: flex;
  position: absolute;
  top: 700px;
  left: 6.25rem;
  right: 6.25rem;
}

body .block-texte-titre {
  width: 47.5%;
  margin-left: 50%;
}

body .block-titre {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #fcb900;
  font-size: 34px;
}

body .block-texte {
  margin-top: 25px;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: #ffffff;
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

body .block-rectangle {
  position: absolute;
  width: 47.5%;
  height: 450px;
  background-color: #ffffff1a;
  border-radius: 15px;
}

@media (max-width: 1000px) {
  body .block-rectangle {
    width: 100%;
  }
  body .block-texte-titre {
    width: 100%;
    margin-left: 0%;
    margin-top: 475px;
  }
}

/* TEXTE ET BLOCK INFO */

body .block-2 {
  display: flex;
  position: absolute;
  top: 1250px;
  left: 6.25rem;
  right: 6.25rem;
}

body .block-texte-titre-2 {
  width: 47.5%;
}

body .block-titre-2 {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #fcb900;
  font-size: 34px;
}

body .block-texte-2 {
  margin-top: 25px;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: #ffffff;
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

body .block-rectangle-2 {
  position: absolute;
  width: 47.5%;
  margin-left: 50%;
  height: 450px;
  background-color: #ffffff1a;
  border-radius: 15px;
}

@media (max-width: 1000px) {
  body .block-2 {
    margin-top: 400px;
  }
  body .block-rectangle-2 {
    width: 100%;
    margin-left: 0%;
  }
  body .block-texte-titre-2 {
    width: 100%;
    margin-top: 475px;
  }
}

/* FORM INSCRIPTION */

body .inscri-titre {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: 1850px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #fcb900;
  font-size: 34px;
}

body .inscri-rectangle {
  display: flex;
  position: absolute;
  top: 1950px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 90%;
  height: 650px;
  background-color: #ffffff1a;
  border-radius: 15px;
}

body .inscri-form {
  padding-top: 50px;
  margin-left: 10%;
}

body .inscri-info-perso {
  margin-bottom: 25px;
  font-family: "Poppins-Bold", Helvetica;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

body .inscri-form .fa-user {
  color: #FCB900;
}

body .inscri-texte {
  font-family: "Poppins-Bold", Helvetica;
  color: #ffffff;
  font-weight: 700;
}

body .inscri-1 {
  position: absolute;
  height: 50px; 
  width: 50%;
}

body .inscri-2 {
  position: absolute;
  height: 50px; 
  margin-left: 50%;
  width: 50%;
}

body .inscri-3 {
  position: absolute;
  height: 50px; 
  margin-top: 100px;
  width: 50%;
}

body .inscri-4 {
  position: absolute;
  height: 50px; 
  margin-left: 50%;
  margin-top: 100px;
  width: 50%;
}

body .inscri-input {
  position: absolute;
  width: 50%;
  height: 50px;
  top: 26px;
  left: 0;
  background-color: #ffffff;
  border-radius: 15px;
}

body .inscri-info-entreprise {
  margin-bottom: 25px;
  margin-top: 250px;
  font-family: "Poppins-Bold", Helvetica;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

body .inscri-5 {
  position: absolute;
  height: 50px;
  width: 50%;
}

body .inscri-6 {
  position: absolute;
  height: 50px; 
  margin-left: 50%;
  width: 50%;
}

body .inscri-check {
  margin-top: 100px;
}

@media (max-width: 1000px) {
  body .inscri-titre {
    margin-top: 2500px;
  }
  body .inscri-rectangle {
    top: 2600px;
  }
}

/* FOOTER ET CONTACT */

body .overlap-4 {
  position: absolute;
  width: 30%;
  height: 457px;
  top: 2888px;
  right: 0;
}

body .rectangle-6 {
  position: absolute;
  width: 100%;
  height: 457px;
  top: 0;
  left: 0;
  background-color: #ffffff1a;
  border-radius: 15px;
}

body .group-11 {
  position: absolute;
  width: 529px;
  height: 155px;
  top: 151px;
  left: 33px;
}

@media (max-width: 1000px) {
  body .overlap-4 {
    width: 95%;
    top: 3800px;
    left: 5%;
    height: 300px;
  }

  body .rectangle-6 {
    width: 95%;
    height: 300px;
  }

  body .group-11 {
    top: 30px;
  }
  
}

body .text-wrapper-15 {
  width: 525px;
  left: 2px;
  font-family: "Poppins-Bold", Helvetica;
  color: var(--primaryy);
  font-size: 34px;
  position: absolute;
  top: 0;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

body .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  top: 71px;
  left: 0;
}

body .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

body .icon-alternate-phone {
  position: relative;
  width: 16px;
  height: 16px;
}

body .text-wrapper-16 {
  position: relative;
  width: 119px;
  height: 18px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

body .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

body .icon-envelope {
  position: relative;
  width: 21px;
  height: 16px;
}

body .text-wrapper-17 {
  position: relative;
  width: 160px;
  height: 18px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

body .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 35px;
  position: relative;
  flex: 0 0 auto;
}

body .icon-alternate-map {
  position: relative;
  width: 12px;
  height: 16px;
}

body .overlap-5 {
  position: absolute;
  width: 236px;
  height: 179px;
  top: 387px;
  left: 604px;
}

body .overlap-6 {
  position: absolute;
  width: 236px;
  height: 179px;
  top: 387px;
  left: 856px;
}

body .bfet {
  position: absolute;
  width: 819px;
  height: 458px;
  top: 2887px;
  left: 101px;
  object-fit: cover;
}

body .orange-icone {
  color: #FCB900;
}

/* PAGE DE CONFIRMATION */

body .confirm-rectangle {
  font-family: var(--h-1-font-family);
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #ffffff1a;
  border-radius: 15px;
  text-align: center;
  color: #ffffff;
}

body .confirm-titre{
  color: #FCB900;
}